################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Build and object directories
bin/
obj/
Debug/
Release/